.account {
  margin-top: 64px;
  display: block;
  height: calc(100vh - 64px);
  overflow: hidden;
}

.account__page {
  max-width: 1024px;
  margin: 0 auto;
}

// .account__content {
//     width: 1024px;
//     height: 919px;
//     background-color: inherit;
//     display: block;
// }

.sidebar {
  height: 100%;
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1024px) and (max-width: 1280px) {
  .vertical-scroll {
    width: 650px;
  }
  .post-button {
    margin: 24px 220px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .vertical-scroll {
    width: 500px;
  }
  .post-button {
    margin: 24px 154px;
  }
  .view-tasks-container {
    display: initial;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .vertical-scroll {
        width: 500px;
      }
      .post-button {
        margin: 24px 154px;
      }
      .view-tasks-container {
        display: initial;
      }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .vertical-scroll {
        width: 500px;
      }
      .post-button {
        margin: 24px 194px;
      }
      .view-tasks-container {
        display: initial;
      }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .vertical-scroll {
    width: 270px;
    margin-left: 87px;
  }
  .post-button {
    margin: 24px 154px;
  }
  .view-tasks-container {
    display: initial;
  }
}
