.history {
    position: absolute;
    top: 0;
    left: 210px;
    border-left: 1px solid #bbc2dc;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1);
    width: 813px;
    height: 919px;
  }
  
.historyd__page {
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.vertical-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.history__page-header {
    font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    position: relative;
    border: none;
    padding: 20px 20px 0;
    -webkit-box-flex: 0;
    flex: 0;
}

.history__page-inner {
    position: relative;
    -webkit-box-flex: 0;
    flex: 0;
    padding: 0 20px 20px;
}

.payments-direction {
    border-bottom: 1px solid #f6f8fd;
    margin: 20px -20px;
}

.tabs {
    margin: 0 20px;
    width: 200px;
}

.tabs .tab {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    font-weight: 500;
    transition: border-bottom .5s ease-in-out,background-color .5s ease-in-out;
}

.tab.half {
    width: 50%;
}

.tab.half.active {
    border-bottom: 2px solid #008fb4;
    border-radius: 0 8px 0 0;
}

.tab.half.active:last-child {
    color: #008fb4;
}

.history__filters-date {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 80%;
    float: left;
}

.history__filters-filter {
    margin: 0px 4px;
}

.history__filters-label {
    display: block;
}

.history__date-selector {
    position: relative;
    display: block;
}

.history__date-select {
    height: 40px;
    margin: 0px;
}

select {
    border: 1px solid #bbc2dc;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    font-size: 14px;
    font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 300;
    padding: 0 12px;
    -webkit-appearance: none;
    min-width: 150px;
    width: 100%;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px
}


@media (min-width: 992px) {
    .history__amount {
    flex-direction: row;
    float: right;
    text-align: right;
    text-transform: uppercase;
    }
}

.history__amount {
    float: none;
    text-align: center;
    margin: 10px 0px;
}

.history__amount-label {
    text-transform: uppercase;
    font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.history__amount-value {
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    color: rgb(0, 143, 180);
}

.transaction-results {
    -webkit-box-flex: 1;
    flex: 1;
}

.padder {
    padding: 5px 20px;
}

.transaction-count {
    font-size: 11px;
    font-style: italic;
    float: left;
}

.empty__page {
    text-align: center;
    display: block;
}

.empty__page-EmptyImg {
    max-width: 300px;
    max-height: 150px;
    margin: 20px 0px;
}

img {
    border: none;
}

.page__text {
    color: rgb(84, 90, 119);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: initial;
    font-style: initial;
    text-decoration: initial;
    margin: 20px 0px;
    padding: 0px;
    white-space: pre-line;
}

.page__button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 143, 180);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 0px;
    text-decoration: none;
    margin: 0px 12px;
}