
.header {
  position: relative;
  font-family: "Open Sans", sans-serif;
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  font-size: 12px;
  padding-bottom: 15px;
}

.header__head {
  position: relative;
  z-index: 1;
}

.header__head .header__head-bg {
  position: relative;
  width: auto;
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/header.png);
  background-color: inherit;
  border-radius: 5px 5px 0 0;
  z-index: 1;
}

.header__head .header__head-btn {
  position: absolute;
  width: 130px;
  height: 30px;
  overflow: hidden;
  z-index: 2;
  bottom: 20px;
  right: 30px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  color: white;
  background-color: #75bb54;
  text-shadow: 0 0 4px black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.137);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.header__head .header__head-btn:hover {
  color: white;
  text-shadow: none;
  box-shadow: none;
}

.header__head .header__head-btn:after {
  content: "Request a Quote";
}

.header__head-avatar {
  position: absolute;
  display: inline-block;
  z-index: 2;
  top: 100px;
  border-radius: 50%;
  left: 50px;
}

.header__head-photo {
  border: 4px solid white;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.header__body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  z-index: 1;
}

.header__body-info {
  display: block;
  margin-left: 20px;
  width: 40%;
  float: left;
}

.header__body-info a {
  font-size: 10px;
  font-style: italic;
}

.header__body-info-username {
  letter-spacing: normal;
  word-spacing: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  color: black;
  text-align: left;
  vertical-align: text-bottom;
}

.header__body-info-userinfo {
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  text-align: left;
  color: black;
  line-height: 18px;
  list-style: none;
}

.header__body-reviews {
  border-color: #d5dbe9;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  float: right;
  width: 200px;
  height: 145px;
  z-index: 2;
}

.header__body-reviews .nav-tabs {
  display: block;
  padding: 0;
  background: inherit;
}

.header__body-reviews .nav-tabs .nav-item.active:first-child {
  border-radius: 8px 0 0 0;
}

.header__body-reviews .nav-tabs .nav-item {
  font-size: 12px;
  cursor: pointer;
  width: 50%;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  -webkit-transition: border-bottom 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: border-bottom 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.header__body-reviews .nav-tabs .nav-item.active {
  color: #36b3d3;
  background-color: inherit;
}

.header__body-reviews .nav-tabs .nav-link.active {
  border-bottom: 2px solid #36b3d3;
}

.header__body-reviews .nav-tabs .nav-link {
  border: none;
}

.header__body-reviews #nav-tabContent {
  background-color: #f2f7f9;
}

.clearFix {
  display: block;
  clear: both;
  visibility: hidden;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.review-container .col-auto .star-header {
  color: gold;
  font-size: 7px;
  text-align: right;
  padding: 10px 0px 10px;
}

.review-container .col-auto .star-header .fa-star:hover {
  transform: scale(1.1);
}

.review-container .col-auto .content-header h4 {
  text-align: right;
  font-size: 12px;
}

.review-container .col-auto .content-header h5 {
  text-align: right;
  font-size: 11px;
}

.review-container .col-auto .content-header h6 {
  text-align: right;
  font-size: 9px;
}

/*# sourceMappingURL=header.css.map */
