@import "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800";
.card {
  position: relative;
  width: 50%;
  font-family: "Open Sans", sans-serif;
  border: 0px;
}
.card .card-header {
  background-color: #f2f7f9;
  padding: 0px 0px 0px 0px;
}
.card .card-header h4 {
  text-align: left;
  font-size: 18px;
}
.card .card-header .star-header {
  color: gold;
  font-size: 7px;
  text-align: right;
  padding: 10px 0px 10px;
}
.card .card-header .content-header h5 {
  text-align: right;
  font-size: 14px;
}
.card .card-header .star-rank {
  width: 95%;
  font-size: 1px;
  text-align: right;
  padding: 10px 0px 10px 0px;
}
.card .card-header .star-rank .total-star {
  padding: 0px 0px 0px 5px;
  color: #000;
}
.card .card-header .star-rank .five-star {
  color: gold;
}
.card .card-header .star-rank .four-star {
  color: gold;
}
.card .card-header .star-rank .three-star {
  color: gold;
}
.card .card-header .star-rank .two-star {
  color: grey;
}
.card .card-header .star-rank .one-star {
  color: grey;
}
.card nav #nav-tab {
  font-size: 14px;
  background-color: #f2f7f9;
  border: 0px;
}
.card #nav-tabContent {
  background-color: #f2f7f9;
}
.fa-star:hover {
  transform: scale(1.1);
}
.review-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.review-container .review {
  flex: 0 1 50%;
  padding: 30px;
}
.review-container .review .review-stars,
.review-container .review .review-title,
.review-container .review .review-reviewer {
  display: flex;
}
.review-container .review .review-stars,
.review-container .review .review-title,
.review-container .review .review-text,
.review-container .review .review-reviewer {
  font-size: 13px;
  padding: 0 0 20px;
}
.review-container .review .review-stars {
  color: gold;
}
.review-container .review .review-stars svg {
  margin: 0 5px;
}
.review-container .review .review-text,
.review-container .review .review-reviewer {
  color: #666666;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: justify;
}
.review-container .review .review-reviewer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.review-container .review .review-reviewer .avatar,
.review-container .review .review-reviewer .reviewer {
  margin: 0 5px;
}
.review-container .review .review-reviewer .avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  .review-container .review {
    flex: 0 1 95%;
  }
}
@media screen and (max-width: 800px) {
  .review-container .review {
    flex: 0 1 95%;
    margin: auto;
  }
}
