@import "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800";
.nav-tabs {
  background: #edeef6;
  border-radius: 0.375rem;
  padding: 0.34375rem;
}
.nav-tabs .nav-link:not(.active) {
  color: inherit;
}
.navbar {
  position: relative;
  background: #fff;
  height: 64px;
}
.task-nav-btn:focus .dropdown,
.task-nav-btn:active .dropdown {
  transform: translate(0, 20px);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.task-nav-btn .dropdown {
  position: absolute;
  top: 100%;
  background: #fff;
  width: 30%;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  transition: 0.3s ease;
}
.task-nav-btn .dropdown h4 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 25px 0px 5px;
  font-size: 13px;
}
.task-nav-btn .dropdown:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 20px;
  width: 0;
  height: 0;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
  border-top: 6px solid #fff;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: rotate(-45deg);
}
