/* clamp styles */
@import "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800";
.clamp-lines {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f7f9;
  border-radius: 4px;
  padding: 8px;
  > span {
    display: block;
  }
}
.commentContainer {
  button {
    color: #3f51b5;
    border: medium none;
    padding: 0;
  }
}
