@import "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800";
.step-bar-holder {
  height: 20px;
  display: block;
  margin: 20px 0px 20px 0px;
}
.task-details {
  .details-panel {
    float: left;
    position: relative;
    margin-top: 20px;
    width: 390px;
  }
}
.bdybsA {
  float: left;
  display: contents;
}
.status-active {
  background-color: #3f51b5;
}
.bcXpha {
  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  text-transform: uppercase;
  white-space: nowrap;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 2px 12px;
}
.dvmZPW {
  color: #bbc2dc;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: center;
  vertical-align: initial;
  font-style: initial;
  white-space: initial;
  text-decoration: initial;
  margin: 0px;
  padding: 0px;
}
.ioSWlZ {
  text-transform: uppercase;
  white-space: nowrap;
  padding: 2px 12px;
}
.hrKBJX {
  color: rgb(187, 194, 220);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: center;
  vertical-align: initial;
  font-style: initial;
  white-space: initial;
  text-decoration: initial;
  margin: 0px;
  padding: 0px;
  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  text-transform: uppercase;
  white-space: nowrap;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 2px 12px;
}
