@import "../theme.scss";

.infinite-scroll-list {
  position: relative;
  margin: 0;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  float: right;
  background-color: #f2f7f9;
}

.infinite-scroll-row {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.browseContent {
  overflow: hidden;
  .row {
    .col-12 {
      padding: 0;
      .task-nav {
        background: #f2f7f9;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        padding: 14px 150px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .secondary-menu {
          margin: 0;
          display: flex;
          list-style: none;
          .menu-item {
            padding-right: 50px;
            align-self: center;
          }
        }
      }
      .row {
        max-width: 1024px;
        margin: 0 auto;

        .map-display {
          padding: 0;
          height: $browse-task-component-height;
        }

        .scroll-bar {
          padding: 0;
        }
      }
    }
  }
}
