.infinite-scroll-list {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  float: right;
  background-color: #f2f7f9;
}

.browseContent .col-4 {
  padding: 0 0;
}
.browseContent .col-8 {
  padding: 0 0 0 0;
}
