.chatbox-outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;

  .chatbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 8px;
    height: 85%;
    width: 55%;
  }
}

@media (max-width: 650px) {
  .chatbox-outerContainer {
    height: 100%;

    .chatbox-container {
      width: 100%;
      height: 100%;
    }
  }
}

// @media (min-width: 480px) and (max-width: 1200px) {
//   .chatbox-container {
//     width: 60%;
//   }
// }
