@import "https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800";
#sidebar  {
    padding: 10px;
  width: 25%;
  font-family: "Open Sans", sans-serif;
}

.container {
    padding: 10px;
    margin-top: 30px;
}


button {
    color: #33A5FF;
    font-weight: 600;
    padding:7px 15px;
    border-radius: 90px;
}

.second-heading {
    font-style: italic;
}

.id-badges h5 {
    margin:20px 5px 20px 5px;
}

#WA {
    display: block;
}

#WA-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#eletircal-icon {
    margin-right: 15px;
    font-size: 30px;
}
